.Tarjeta{

    border: 1px solid black;
    padding: 10px 20px;
    position: relative;
}

.Tarjeta > div:first-child{

    background-color: aquamarine;
    left:15px;
    position: relative;
    display: block;
    height: 84px;
    padding: 10px;
}


.TarjetaB{

    background-color: beige;
    left:5px;
    position: relative;
   padding: 20px;
    height: 84px;
    margin: 10px 0px;
}

.TarjetaB p{

    font-size: large;
    display: inline-block;
}
.TarjetaB h3{

    display: inline;
}